## Imports

In [6]:
# Import data and models
%run CapsoneData.ipynb
%run PhishingModels.ipynb

In [7]:
#Get Data
email_df = get_capstonedata_as_df()

In [8]:
email_df

,data,target,Attachments,istestdata
0,   Bud1           \t                     ...,0,0,1
1,   Bud1           \t                     ...,1,0,1
2,PGRpdiBzdHlsZT0icGFkZGluZzogNXB4OyBmb250LWZhbW...,1,0,1
3,"[ Carson, Thank you for your interest in ???...",1,0,1
4,[Three recently published reports suggest skil...,1,0,1
...,...,...,...,...
9967,"I'm one of the 30,000 but it's not working ver...",0,0,0
9968,Damien Morton quoted:\n>W3C approves HTML 4 'e...,0,0,0
9969,"On Mon, 2002-07-22 at 06:50, che wrote:\n\n> t...",0,0,0
9970,"Once upon a time, Manfred wrote :\n\n> I would...",0,0,0
9971,"If you run Pick, and then use the ""New FTOC"" b...",0,0,0

In [12]:
rf_model = run_randomforestclassifier(email_df)